@import "components/IndexRoute.scss";
@import "components/ShowRoute.scss";
@import "components/home.scss";


* {
  box-sizing: border-box;
}
main {
  margin: 0;
  .section {
    margin: 0;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}
