* {
  box-sizing: border-box;
}
main {
  margin: 0;
.section {
  margin: 0;
}
}
body {
  font-family: sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

.google-map {
  height: 100vh;
  background-color: #ccc;
  margin: 20px;
}
.title {
  text-align: center;
}
