div#panel {
  margin: 20px;
}

div.directions {
  text-align: center;

}
div.warnbox-c1 {
  background-color: white;
}
div.warnbox-c2 {
  background-color: white;
}

#google-map {
      margin: 20px 60px;
}
