section.section {
  padding: 0;
}
div.homePage {
  width: 100%;
  text-align: center;
  padding: 20px;
  display: flex;

}
div.top {
 width: 100%;
}

header {
  margin-top: 30px;
  width: 50%;
  p {
    padding-top: 10px;
  }
}

.paragraphy-home-page {
  padding: 20px;
}

.download-icons {
  width: 100vw;
  padding: 20px;
}
