#google-map {
  height: 100vh;
  background-color: #ccc;
  margin: 20px;
}
.title {
  text-align: center;
}

.warnbox-content {
  display: none;
}

#go {
  text-align: center;
  margin: 10px;
  margin-left: 60px;
  margin-top: 10px;
}

button.button.locate {
  margin-left: 60px;
  margin-right: 10px;
  margin-bottom: 10px;

}

button.button.go {
  margin-top: 10px;
  margin-bottom: 10px;

}
img#current {
  display: block;
  border-radius: 10px;
  z-index: 0;
  position: absolute;
  top: 85% !important;
  bottom: 10% !important;
  left: 25px !important;
}

.field:not(:last-child) {
  margin-top: 2rem;
}

form main {
  padding: 0 30px;

  margin: 0 30px;
}
